/* ================================================================== */
// common layout
/* ================================================================== */

body,html { width: 100%; height: 100%; padding: 0; margin: 0; min-height: 100%;}
body { -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
header, footer {
    background-color: #eee;
    width: 100%; display: flex;
    align-items: center;
}

img { width: 100%; }

.contents-wrapper { width: 1400px; margin: 0 auto;}

/* ================================================================== */
// media size 
/* ================================================================== */
@media (max-width: 1200px) and (min-width: 800px) {
    .contents-wrapper { 
        width: 800px;
    }
}
@media (max-width: 800px) and (min-width: 100px) {
    .contents-wrapper { 
        width: 100vw;
    }
}

/* ================================================================== */
//  base layouts
/* ================================================================== */
$header-height: 100px;
$footer-height: 100px;
$contents-margin-bottom: 50px;

header { height: $header-height; }

.contents-body { 
    min-height: calc(100% - ($header-height + $footer-height + ($contents-margin-bottom)));
    padding-bottom: $contents-margin-bottom;
}

footer { 
    min-height: $footer-height;
    .contents-wrapper { display: flex; justify-content: center; flex-wrap: wrap; }
}
